# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

web-server/js/.DS_Store

web-server/images/.DS_Store

web-server/css/.DS_Store

web-server/.DS_Store

uvr-logger/.DS_Store

.DS_Store
common.php
